<div class="header">
    <span>Seychelles Islands</span>
    <div class="img-header"></div>
</div>
<div class="form" *ngIf="formType === 'login'">
    <h1>Login Form</h1>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" [(ngModel)]="userLogin.email" name="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="userLogin.password" name="password" class="form-control" />
    </div>
    <div class="form-buttons">
        <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
        <span class="anchor" (click)="changeFormType('signup')">Don't you have an account yet?</span>
    </div>
    {{errorLogin}}
</div>

<div class="form" *ngIf="formType === 'signup'">

    <h1>Sign Up Form</h1>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="userSignUp.firstName" class="form-control" name="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="userSignUp.lastName" class="form-control" name="lastName" required>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" [(ngModel)]="userSignUp.email" class="form-control" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="userSignUp.password" class="form-control" name="password" id="password">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special characters, or emoji.
        </small>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" [(ngModel)]="userSignUp.confirmPassword" (ngModelChange)="confirmPasswordHandler($event)"
            class="form-control" name="confirmPassword" id="confirmPassword" [ngClass]="{
                'error-input': confirmPasswordError
            }">
        <span *ngIf="confirmPasswordError" class="error-span">Passwords doesn't match</span>
    </div>

    <div class="form-buttons">
        <button type="submit" (click)="signUp()" class="btn btn-primary">Submit</button>
        <span class="anchor" (click)="changeFormType('login')">Do you already have an account?</span>
    </div>
    {{errorSignUp}}
</div>